!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MiniBlog
    = csrf_meta_tags
    / Compiled and minified CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", :rel => "stylesheet"}/
    / Compiled and minified JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
    / Compiled and minified CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", :rel => "stylesheet"}/
    / Compiled and minified JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar-fixed
      %nav
        .nav-wrapper
          %a.brand-logo{href:  "/"} PC練習ジム
          %ul.right.hide-on-med-and-down
            %li
              - if user_signed_in?
                %a{href:  "/blogs/new"} 投稿
              - else
                %a{href:  "/users/sign_in"} サインイン
            %li
              - if user_signed_in?
                = link_to "サインアウト", destroy_user_session_path, method: :delete
              - else
                %a{href: "/users/sign_up"} サインアップ
    = yield
